@page
@model WebSiteCinema.Pages.Thanks

<section class="content">
    <h1 class="text-center">
        Ваша бронь
    </h1>
    <p class="text-center mt-5 h4">
        Номер брони<br> <strong class="h2">21312</strong>
        <br>
        <br>
        Сумма: <strong>450р.</strong>
        <br>
        Места: 5 ряд 15 место, 5 ряд 14 место
        <br>
        <br>
        <span class="text-warning">Предъявите номер брони на кассе для получения билетов</span>
        <br>
        <a class="mt-5 btn" href="#">Мои брони</a>
    </p>
</section>